<?xml version="1.0" encoding="UTF-8" ?>
<root>
	<body>
		<messages>
<![CDATA[
Host: {HOST.HOST} [{HOST.IP}]
Last value: {ITEM.LASTVALUE1} ({TIME})
Duration: {EVENT.AGE}]]>
		</messages>
	</body>
	<settings>
		<graphs>True</graphs>
		<hostlinks>True</hostlinks>
		<graphlinks>True</graphlinks>
		<acklinks>True</acklinks>
		<eventlinks>True</eventlinks>
		<triggerlinks>True</triggerlinks>
		<eventtag>True</eventtag>
		<eventidtag>True</eventidtag>
		<itemidtag>True</itemidtag>
		<triggeridtag>True</triggeridtag>
		<actionidtag>True</actionidtag>
		<hostidtag>True</hostidtag>
		<zntsettingstag>True</zntsettingstag>
		<keyboard>True</keyboard>
		<graphs_period>default</graphs_period>
		<host>{HOST.ID1}</host>
		<itemid>{ITEM.ID1} {ITEM.ID2} {ITEM.ID3} {ITEM.ID4}</itemid>
		<triggerid>{TRIGGER.ID}</triggerid>
		<eventid>{EVENT.ID}</eventid>
		<actionid>{ACTION.ID}</actionid>
		<hostid>{HOST.ID1}</hostid>
		<title><![CDATA[{HOST.HOST} - {EVENT.NAME}]]></title>
		<triggerurl><![CDATA[{TRIGGER.URL}]]></triggerurl>
		<eventtags><![CDATA[{EVENT.TAGS}]]></eventtags>
	</settings>
</root>